* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.95)),url('../img/background.png') no-repeat center center fixed;
    background-size: cover;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: lightgray;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
    color: white;
}

header {
    background-color: black;
    color: white;
    padding: 10px 0;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: relative;
    z-index: 1000;
}

.navbar-left{
    flex: 1;
    text-decoration: none;
}

.navbar-right{
    display: flex;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 15px;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
    display: inline;
}

.nav-links li:first-child {
    margin-left: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links li a:hover {
    color: lightgray;
}

.social-icons {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.social-icons a {
    color: white;
    margin-left: 10px;
    font-size: 24px; /* Adjust size as needed */
}

.social-icons a:hover {
    color: lightgray;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    padding: 10px;
}



.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}


.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2px;
    width: 100%; /* Ensure the board takes full width */
    max-width: 600px; /* Limit board width for better readability */
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
    padding: 10px;
    box-shadow: 0 0 30px 30px rgba(255, 105, 105, 0.3); /* Red glowing effect */
    border-radius: 15px;
}

.cell {
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* Maintain square aspect ratio */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    position: relative;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.cell.black {
    background-color: #973131;
}

.cell.white {
    background-color: #F4E5C2;
}

.cell.highlight {
    background-color: #C40C0C;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.queen {
    color: #323232;
    font-size: 2em;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    opacity: 0;
    animation: fadeIn 1s forwards;
    transition: transform 0.5s ease;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


button {
    background-color: transparent;
    border: 2px solid #C80036; /* Blue border color */
    color: #C80036; /* Blue text color */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin: 10px 0px 0px 10px;
}

button:hover {
    background-color: #C80036; /* Blue background color on hover */
    color: white; /* White text color on hover */
    border-color: #C80036; /* Blue border color on hover */
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 105, 105, 0); /* Transparent background */
    margin-bottom: 10px;
    color: white; /* Text color */
    outline: none;
    box-shadow: 0 0 10px 2px rgba(255, 105, 105, 0.3); /* Glow effect */
    transition: box-shadow 0.5s ease-in-out;
}

input[type="number"]:focus {
    box-shadow: 0 0 20px 5px rgba(255, 105, 105, 0.5); /* Increased glow on focus */
}


footer {
    background-color: black; /* Transparent background */
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}


@media screen and (max-width: 768px) {

    body{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.5)),url('../img/mobile.webp')fixed;
    }


    footer p{
        font-size: .7em;
    }

    .navbar-right {
        position: relative;
    }

    .hamburger-menu {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #333333c3;
        width: 100%;
        text-align: center;
        border-radius: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

}


/* Modal styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 2000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.9); /* Dark background with opacity */
}

.modal-content {
    background-color: #2d2d2d; /* Dark grey background */
    color: #ffffff; /* Light text color */
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #444;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5); /* Darker shadow */
    overflow-y: auto;
    max-height: 90%;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}


pre {
    background: #1e1e1e; /* Blackish-grey background */
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    box-shadow: 0 0 10px rgba(255, 105, 105, 0.8); /* Glowing effect */
}

code {
    font-family: 'Courier New', Courier, monospace;
    color: #f8f8f2; /* Light text color for code */
}

.congrats-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1002;
    text-align: center;
}
